*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
public/assets/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
public/assets/images/*.jpg filter=lfs diff=lfs merge=lfs -text
public/assets/images/*.png filter=lfs diff=lfs merge=lfs -text
